.min-h-screen.bg-orange-50.flex.flex-col.justify-center.items-center.py-12.sm:px-6.lg:px-8
  .flex.flex-col.justify-center.items-center.mt-8
    .bg-white.py-8.px-4.shadow.sm:rounded-lg.sm:px-10.text-lg
      %h1.mt-6.text-2xl.text-center.font-semibold.text-gray-900
        = t('sessions.title')
      .mt-4
        - if @invalid_credentials
          .bg-yellow-50.border-l-4.border-yellow-400.p-4
            .flex.items-center
              .flex-shrink-0
                %svg.h-5.w-5.text-yellow-400{"aria-hidden" => "true", fill: "currentColor", viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
                  %path{"clip-rule" => "evenodd", d: "M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z", "fill-rule" => "evenodd"}
              .ml-3
                %p.text-yellow-700
                  = t('sessions.invalidAttributes')
        = tw_form_with url: sessions_path, method: :post, class: "py-4", data: { turbo: false } do |login_form|
          = login_form.float_email_input :login, autofocus: true, error: @invalid_credentials, label: t("sessions.logIn")
          .mt-4
            = login_form.float_password_input :password, error: @invalid_credentials, label: t("sessions.password")
          .mt-6
            %span.block.w-full.rounded-md.shadow-sm
              %button.w-full.flex.justify-center.py-2.px-4.border.border-transparent.text-sm.font-medium.rounded-md.text-white.bg-indigo-600.hover:bg-indigo-500.focus:outline-none.focus:border-indigo-700.focus:shadow-outline-indigo.active:bg-indigo-700.transition.duration-150.ease-in-out{type: "submit"}
                = t("sessions.logInButton")