%li.group.flex.p-4.pr-6.focus-within:bg-gray-50.hover:bg-gray-50
  .flex-auto
    %p
      - if booking.blocked?
        %span.inline-flex.items-center.px-2.py-0.5.rounded.text-xs.font-medium.bg-red-100.text-red-800
          = booking.blocked_name.presence || t('bookings.blocked')
      - else
        %span{class: "inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-#{booking.schedule_category.colour}-100 text-#{booking.schedule_category.colour}-800"}
          = "#{booking.schedule_category.name} #{booking.participants}"
    %p.mt-2.text-gray-700
      = booking.user.username